/* line 384, ..\colors\_colors.scss */

.color_white {
  color: white;
}

/* line 385, ..\colors\_colors.scss */

.color_txt {
  color: #031522;
}

/* line 386, ..\colors\_colors.scss */

.color_alert {
  color: #c21235;
}

/* line 387, ..\colors\_colors.scss */

.color_link {
  color: #0c639a;
}

/* line 388, ..\colors\_colors.scss */

.color_highlight {
  color: #e4f1f9;
}

/* line 389, ..\colors\_colors.scss */

.color_label {
  color: #9da9b3;
}

/* line 390, ..\colors\_colors.scss */

.color_soft {
  color: #5d9bc0;
}

/* line 395, ..\colors\_colors.scss */

.highlight_yellow {
  background-color: #f5f5bd !important;
}

/* line 398, ..\colors\_colors.scss */

.highlight_red {
  background-color: #f2d7d7 !important;
}

/* line 401, ..\colors\_colors.scss */

.highlight_blue {
  background-color: #e4f1f9 !important;
}

/* line 404, ..\colors\_colors.scss */

.highlight_gray {
  background-color: #d7dde5 !important;
}

/* line 407, ..\colors\_colors.scss */

.highlight_green {
  background-color: #d8f4ce !important;
}

/* line 410, ..\colors\_colors.scss */

.highlight_orange {
  background-color: #fee8c3 !important;
}

/* line 13, main_lte_ie8.scss */

.wrap {
  min-width: 860px !important;
}

/* line 16, main_lte_ie8.scss */

.no_lte_ie8 {
  display: none !important;
}

/* line 22, main_lte_ie8.scss */

input,
textarea {
  background-color: #d7dde5;
  background: transparent url(../../img/bg/bg_black_10.png) top left repeat;
}

/* line 25, main_lte_ie8.scss */

input:hover,
textarea:hover {
  border-top-color: #5d9bc0;
  border-right-color: #82b2ce;
  border-bottom-color: #a6c8dd;
  border-left-color: #82b2ce;
}

/* line 31, main_lte_ie8.scss */

input:focus,
textarea:focus {
  background-color: white;
}

/* line 37, main_lte_ie8.scss */

.box_panel .button_inside:after {
  left: -80%;
}

/* line 45, main_lte_ie8.scss */

.mega_buttons,
.utilities,
.utility_nav,
.utility_options,
.search_close {
  display: none !important;
  width: 0 !important;
}

/* line 49, main_lte_ie8.scss */

.mega_menu {
  position: relative !important;
}

/* line 53, main_lte_ie8.scss */

.mega_menu > .tabbed {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

/* line 58, main_lte_ie8.scss */

.mega_menu .tab_button {
  display: block !important;
}

/* line 64, main_lte_ie8.scss */

.utility .icon_menu .visually_hidden {
  position: relative !important;
  width: auto !important;
}

/* line 69, main_lte_ie8.scss */

.utility .utility_search {
  padding: 6px;
  width: 75%;
}

/* line 74, main_lte_ie8.scss */

.search_button,
.search_icon {
  line-height: 38px !important;
}

/* line 77, main_lte_ie8.scss */

.search_button {
  min-width: 0 !important;
  right: 2px !important;
}

/* line 81, main_lte_ie8.scss */

.search_icon {
  color: white !important;
  font-size: 14px !important;
  left: 7% !important;
  margin-top: 0 !important;
}

/* line 87, main_lte_ie8.scss */

.search_shade {
  display: none !important;
}

/* line 90, main_lte_ie8.scss */

.search_active {
  display: none !important;
}

/* line 93, main_lte_ie8.scss */

.reveal_header {
  display: none !important;
}

/* line 96, main_lte_ie8.scss */

.overview {
  max-height: none !important;
  padding-bottom: 0 !important;
}

/* line 99, main_lte_ie8.scss */

.overview p {
  max-width: none !important;
}

/* line 103, main_lte_ie8.scss */

.mask {
  mask: none !important;
}

/* line 107, main_lte_ie8.scss */

header .side_content {
  display: none !important;
}

/* line 112, main_lte_ie8.scss */

.img_header .header_icon {
  display: none;
}

/* line 118, main_lte_ie8.scss */

#tagline .icon_before:before {
  content: 'tag' !important;
}

/* line 127, main_lte_ie8.scss */

.sidebar_button .visually_hidden {
  position: relative !important;
}

/* line 130, main_lte_ie8.scss */

.sidebar_button.active {
  background-color: #e4f1f9;
  border-color: #5d9bc0;
  color: #5d9bc0;
}

/* line 134, main_lte_ie8.scss */

.sidebar_button.active:after {
  color: #5d9bc0;
}

/* line 139, main_lte_ie8.scss */

#hffy_cart_js {
  margin-bottom: 48px;
}

/* line 145, main_lte_ie8.scss */

.h5.header_gray {
  text-transform: uppercase;
}

/* line 149, main_lte_ie8.scss */

.tab:before {
  content: '' !important;
}

/* line 153, main_lte_ie8.scss */

#controls {
  display: none !important;
}

/* line 156, main_lte_ie8.scss */

.magnific_popup_iframe {
  display: none !important;
}

/* line 159, main_lte_ie8.scss */

.slider {
  margin-top: 24px !important;
  max-height: none !important;
}

/* line 163, main_lte_ie8.scss */

.slide {
  padding-bottom: 48px;
}

/* line 166, main_lte_ie8.scss */

.promo {
  margin-right: 5% !important;
  width: 45% !important;
}

/* line 170, main_lte_ie8.scss */

.bg_ghost {
  overflow: hidden;
}

/* line 173, main_lte_ie8.scss */

.box_glass {
  background-color: #fff;
}

/* line 176, main_lte_ie8.scss */

.build_flat_accordion .column > ul > li > ul > li {
  margin-right: 14px;
  width: 48%;
}

/* line 179, main_lte_ie8.scss */

.build_flat_accordion .column > ul > li > ul > li > a {
  max-width: 75%;
}

/* line 186, main_lte_ie8.scss */

.third {
  width: 33%;
}

/* line 189, main_lte_ie8.scss */

.tabbed {
  margin-bottom: 48px;
}

/* line 196, main_lte_ie8.scss */

.footer_utility_nav p {
  display: inline-block;
}