<section class="wrapper">
  <div class="row card_row">
    <h1 class="column h6 color_label">Category Wise Summary</h1>
    <div class="column third">
      <article class="card_short box_panel">
        <label class="card_label">
          Scrutinize
        </label>


        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Jobs
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RCompletedScruJobCount}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RInHandScruJobCount}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Time
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">

            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RCompScruJobTtlTime}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RInhScruJobTtlTime}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">

              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_success">
                {{RAvgCompScruJobTtlTime}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_error">
                {{RAvgInhScruJobTtlTime}}
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>

    <div class="column third">
      <article class="card_short box_panel">
        <label class="card_label">
          Process
        </label>


        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Jobs
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RCompletedProcJobCount}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RInHandProcJobCount}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Time
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RCompPrcoJobTtlTime}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RInhPrcoJobTtlTime}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">

              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_success">
                {{RAvgCompPrcoJobTtlTime}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_error">
                {{RAvgInhPrcoJobTtlTime}}
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="column third">
      <article class="card_short box_panel">
        <label class="card_label">
         Validate
        </label>


        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Jobs
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RCompletedValiJobCount}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RInHandValiJobCount}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Time
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RCompValJobTtlTime}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RInhValJobTtlTime}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">

              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_success">
                {{RAvgCompValJobTtlTime}}
              </div>
            </div>
          </div>
          <div class="stats_item third">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_error">
                {{RAvgInhValJobTtlTime}}
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>


  </div>

  <!--second row start-->
  <div class="row card_row">
    <h1 class="column h6 color_label">Total Summary</h1>
    <div class="column half_full">
      <article class="card box_panel center">
        <label class="card_label">
          Without Waiting Time
        </label>


        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Jobs
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryCompJobCount}}
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryInhJobCount}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Time
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryCompTtlTime}}
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryInhTtlTime}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">

              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_success">
                {{RSumryAvgCompJobCount}}
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_error">
                {{RSumryAvgInhTtlTime}}
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>

    <div class="column half_full">
      <article class="card box_panel center">
        <label class="card_label">
         With Waiting Time
        </label>


        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Jobs
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryCompJobCountWw}}
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryInhJobCountWw}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">
                Time
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryCompTtlTimeWw}}
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_label">
                {{RSumryInhTtlTimeWw}}
              </div>
            </div>
          </div>
        </section>
        <section class="stats stats_row">
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  
                </label>
              <div class="txt_label space_n_b">

              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  Complete
                </label>
              <div class="txt_serif stats_item_number txt_success">
                {{RSumryAvgInhJobCountWw}}
              </div>
            </div>
          </div>
          <div class="stats_item third small_whole">
            <div class="txt_faded">
              <label class="txt_label space_n_b">
                  In Hand
                </label>
              <div class="txt_serif stats_item_number txt_error">
                {{RSumryAvgInhTtlTimeWw}}
              </div>
            </div>
          </div>
        </section>
      </article>
    </div>



  </div>

</section>